{
    "parser": "babel-eslint",
    "extends": [
      "airbnb",
      "prettier"
    ],
    "plugins": [
      "prettier",
      "jest",
      "flowtype",
      "unicorn"
    ],
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "es6": true,
      "browser": true,
      "jest": true
    },
    "settings": {
      "flowtype": {
        "onlyFilesWithFlowAnnotation": true
      }
    },
    "rules": {
      "unicorn/filename-case": "off",
      "max-len": ["error", {"code": 100}],
      "prefer-promise-reject-errors": ["off"],
      "react/jsx-filename-extension": ["off"],
      "react/prop-types": ["warn"],
      "no-return-assign": ["off"]
    }
  }